[submodule "ext/Subversion"]
	path = ext/Subversion
	url = https://github.com/YueLinHo/Subversion.git
[submodule "ext/apr"]
	path = ext/apr
	url = https://github.com/YueLinHo/apr.git
[submodule "ext/apr-util"]
	path = ext/apr-util
	url = https://github.com/YueLinHo/apr-util.git
[submodule "ext/serf"]
	path = ext/serf
	url = https://github.com/YueLinHo/serf.git
[submodule "ext/snarl"]
	path = ext/snarl
	url = https://github.com/YueLinHo/snarl.git
[submodule "ext/CrashServer/external/zlib"]
	path = ext/CrashServer/external/zlib
	url = https://github.com/madler/zlib.git
